@model TwilightUsers.Models.userdetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>userdetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.education)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.education)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>

    </dl>
</div>
<p>
    <button type="button" onclick="location.href='@Url.Action("Edit", new { id = Model.userid })'" class="btn btn-primary">Edit</button>
    |
    <button type="button" onclick="location.href='@Url.Action("Index")'" class="btn btn-secondary">Back to List</button>

</p>
